SUPABASE_URL=
SUPABASE_ANON_KEY=
VAULT_HOST=127.0.0.1
VAULT_PORT=3100
SUPABASE_RPC_TIMEOUT_MS=8000
VAULT_REQUEST_TIMEOUT_MS=15000
VAULT_HEADERS_TIMEOUT_MS=10000
VAULT_KEEP_ALIVE_TIMEOUT_MS=5000
VAULT_SHUTDOWN_TIMEOUT_MS=10000
VAULT_MAX_BODY_BYTES=1048576
